{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page.simple_page_title }} - ООО Империал, г. Казань{% endblock title %}
{% block custom_head %}
        <!-- FancyBox3 CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
{% endblock %}

{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}
    <div class="container mt-5">
        {% autoescape off %}
            {{ page.simple_page_context }}
        {% endautoescape %}
    </div>
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}
    <!-- FancyBox3 JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    {#                    // настройки галереи#}
    {#                    // http://fancyapps.com/fancybox/3/docs/#options#}
{% endblock %}
