{% extends 'base.html' %}
{% block title %}{{ page.simple_page_title }} - ООО Империал, г. Казань{% endblock title %}
{% block custom_head %}{% endblock %}

{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}
    <div class="container mt-5">
        {% autoescape off %}
            <h1>{{ page.simple_page_title }}</h1>
            {{ page.simple_page_context }}
        {% endautoescape %}
    </div>
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}
    <script>
        checkLoad();
        function checkLoad() {
            if (document.readyState === "complete") {
                document.body.innerHTML = document.body.innerHTML.replace('<img src="/media/django-summernote/', '<img src="https://биофа-казань.рф/media/django-summernote/');
                document.body.innerHTML = document.body.innerHTML.replace('<img src="/media/django-summernote/', '<img src="https://биофа-казань.рф/media/django-summernote/');
            } else {
                setTimeout('checkLoad();', 500)
            }
        }
    </script>
{% endblock custom_footer %}
