{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}Корзина товаров{% endblock title %}
{% block custom_head %}{% endblock %}
{% block basket %}{% endblock %}


{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}

    <h2 class="mb-3 mt-5 text-center">Корзина с товарами</h2>
    <div class="overflow-auto">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Фото</th>
                <th scope="col">Наименование</th>
                <th scope="col">Опции</th>
                <th scope="col">Цена</th>
                <th scope="col" class="text-nowrap">Кол-во</th>
                <th scope="col">Сумма</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for key, item in cart_item %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="">
                        {% thumbnail item.img "100x100" padding=True format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.title }}">
                        {% endthumbnail %}
                    </td>
                    <td><b>{{ item.title }}</b><br>
                        <span class="small text-muted text-nowrap">Поставщик: {{ item.vendor }}<br>
                        Артикул: {{ item.vendor_code }}</span>
                    </td>
                    <td class="text-nowrap small">
                        {% if item.color %}<p>
                        {% thumbnail item.color_img "150x50" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.color }}">
                        {% endthumbnail %}<br>{{ item.color }}{% endif %}
                        {% if item.options %}<p>{{ item.options|safe }}{% endif %}
                        {% if not item.color and not item.options %}--{% endif %}
                    </td>
                    <td class="text-nowrap">{{ item.price }} ₽</td>
                    <td class="text-nowrap">{{ item.count }}</td>
                    <td class="text-nowrap font-weight-bold">{{ item.sum }} ₽</td>
                    <td><i class="fa fa-trash text-danger small"
                           style="cursor: pointer"
                            onclick="delete_item_from_basket('{{ key }}')"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td class="text-right font-weight-bold">Сумма: {{ cart_sum }} ₽</td>
        </tr>
        </tbody>
    </table>


    <div class="input-group">
        <span class="input-group-text">Комментарий к заказу</span>
        <textarea class="form-control" aria-label="Комментарий к заказу" id="comment"></textarea>
    </div>

    <div class="row my-5">
        <div class="col-12 text-center">
            <form id="delivery">
                <div class="form-check form-check-inline border-bottom">
                    <input class="form-check-input" type="radio" name="deliveryRadio" id="radioPickup"
                           aria-expanded="false">
                    <label class="form-check-label" for="radioPickup" style="cursor: pointer">
                        Я сам заберу заказ
                    </label>
                </div>
                <div class="form-check form-check-inline border-bottom" style="cursor: pointer">
                    <input class="form-check-input" type="radio" name="deliveryRadio" id="radioDelivery"
                           aria-expanded="false">
                    <label class="form-check-label" for="radioDelivery" style="cursor: pointer">
                        Мне нужна доставка
                    </label>
                </div>
            </form>
        </div>
    </div>

    <!-- Самовывоз -->
    <div class="row">
        <div class="col text-center">
            <div class="collapse" id="collapsePickup">
                <div class="card card-body">
                    <h3 class="mb-5 mt-3 text-center">Выберите, откуда хотите забрать:</h3>

                    {% for p in pickup %}
                    <p><label class="form-check-label" for="delivery-{{ p.delivery_API }}" style="cursor: pointer">
                        <input type="radio" name="deliveryWay"
                               id="delivery-{{ p.delivery_API }}"
                               data-api="{{ p.delivery_API }}"
                               class="form-check-input">
                        <b>{{ p.delivery_title }}</b></label><br>
                        {{ p.delivery_description|safe }}
                    {% endfor %}

                    <span class="btn btn-danger my-5 mx-auto" style="width: fit-content" role="button"
                          id="collapsePickupPaymentButton">Перейти к оплате</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Доставка -->
    <div class="row">
        <div class="col text-center">
            <div class="collapse" id="collapseDelivery">
                <div class="card card-body">
                    <h3 class="mb-5 mt-3 text-center">Как вам отправить заказ?</h3>

                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col col-md-5">

                            {% for d in delivery %}
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-4">
                                            <div class="card-body text-left">
                                                <img src="{{ d.delivery_img.url }}" class="img-fluid"
                                                     alt="{{ d.delivery_title }}">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body small text-muted text-left">
                                                {{ d.delivery_description|safe }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">
                                        <input type="radio" class="btn-check" name="deliveryWay"
                                               id="delivery-{{ d.delivery_API }}"
                                               data-api="{{ d.delivery_API }}"
                                               autocomplete="off" {% if forloop.first %}checked{% endif %}>
                                        <label class="btn btn-outline-danger btn-sm"
                                               for="delivery-{{ d.delivery_API }}">Выбрать</label>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="card mb-3">
                                <div class="card-header">Другой способ</div>
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body small text-muted text-left">
                                            <textarea class="form-control h-100" placeholder="Напишите свой вариант"
                                                      aria-label="Напишите свой вариант"
                                                      id="delivery-other-text"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body small text-muted">
                                        <input type="radio" class="btn-check" name="deliveryWay"
                                               id="delivery-other"
                                               data-api="other"
                                               autocomplete="off">
                                        <label class="btn btn-outline-danger btn-sm"
                                               for="delivery-other">Выбрать</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-7">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text col-3 col-md-4">Страна</span>
                                <select class="form-control" id="delivery_country">
                                    <option selected>Россия</option>
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text col-3 col-md-4">Город, индекс</span>
                                <input class="form-control" list="datalistOptions" id="delivery_city"
                                       value="Казань">
                                <datalist id="datalistOptions">
                                    {% for city in cities %}
                                        <option value="{{ city.city_name }}">
                                    {% endfor %}
                                </datalist>
                                <input class="form-control" id="delivery_index"
                                       placeholder="Индекс">
                            </div>


                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text col-3 col-md-4 text-left">Адрес</span>
                                <textarea class="form-control" aria-label="Адрес" id="delivery_street"
                                          placeholder="Улица, Дом, Квартира (офис). (Подъезд, Этаж, Домофон)"></textarea>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text col-3 col-md-4 text-left">ФИО</span>
                                <input type="text" class="form-control" id="delivery_fio"
                                       placeholder="Фамилия Имя Отчество">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text col-3 col-md-4 text-left">Телефон</span>
                                <input type="text" class="form-control" id="delivery_phone"
                                       placeholder="Номер телефона" style="max-width: 25%">
                            </div>
                            <span class="btn btn-danger my-5 mx-auto" style="width: fit-content" role="button"
                                  id="collapseDeliveryPaymentButton">Перейти к оплате</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Оплата -->
    <div class="row">
        <div class="col text-center">
            <div class="collapse" id="collapsePickupPayment">

            </div>
        </div>
    </div>
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}
    <script src="{% static '/js/cart.js' %}"></script>
{% endblock custom_footer %}
