{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}Подтверждение заказа{% endblock title %}
{% block custom_head %}{% endblock %}

{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}

    <h2 class="mb-3 mt-5 text-center">Подтвердите данные</h2>
    <div class="overflow-auto">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Наименование</th>
                <th scope="col">Опции</th>
                <th scope="col">Цена</th>
                <th scope="col" class="text-nowrap">Кол-во</th>
                <th scope="col">Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for key, item in cart_item %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="">
                        {% thumbnail item.img "100x100" padding=True format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.title }}">
                        {% endthumbnail %}
                    </td>
                    <td><b>{{ item.title }}</b><br>
                        <span class="small text-muted text-nowrap">Поставщик: {{ item.vendor }}<br>
                        Артикул: {{ item.vendor_code }}</span>
                    </td>
                    <td class="text-nowrap small">
                        {% if item.color %}<p>
                            {% thumbnail item.color_img "150x50" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ item.color }}">
                            {% endthumbnail %}<br>{{ item.color }}{% endif %}
                        {% if item.options %}<p>{{ item.options|safe }}{% endif %}
                        {% if not item.color and not item.options %}--{% endif %}
                    </td>
                    <td class="text-nowrap">{{ item.price }} ₽</td>
                    <td class="text-nowrap">{{ item.count }}</td>
                    <td class="text-nowrap font-weight-bold">{{ item.sum }} ₽</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td class="text-right font-weight-bold w-100">Доставка:<br>
                Сумма:
            </td>
            <td class="text-right font-weight-bold text-nowrap">0 ₽<br>
                {{ cart_sum }} ₽
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Доставка -->
    <div class="row row-cols-1 row-cols-md-2">
    <div class="col-6 mb-3">
        <div class="card h-100">
            <div class="card-header">{{ order_data.orderDelivery }}:</div>
            <div class="row g-0">
                <div class="col-md-4 align-content-center">
                    {% if delivery.delivery_img %}
                        <img src="{{ delivery.delivery_img.url }}" class="card-img-top"
                             alt="{{ delivery.delivery_title }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    {% if delivery.delivery_pickup == False %}
                        <div class="card-body small text-muted">
                            <p class="card-text">
                                {{ order_data.orderDeliveryCountryAndCity }}
                                <br>{{ order_data.orderDeliveryAddress }}
                                <br>{{ order_data.orderDeliveryContact }}
                                <br>{{ order_data.orderDeliveryContactPhone }}
                        </div>
                    {% else %}
                        <div class="card-body">
                            {{ delivery.delivery_title }}
                        <div class="small">
                            {{ delivery.delivery_description|safe }}
                        </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Опалата:</div>
                <div class="card-body">
                    <p class="card-text">{{ payment.payment_title }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Комментарий к заказу</div>
                <div class="card-body small text-muted">
                    <p class="card-text">{{ order_data.orderComment }}
                </div>
            </div>
        </div>
        <div class="col-6 h-100">
            <div class="card mb-3">
                <div class="card-header">Дополнительно:</div>
                <div class="card-body">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="order_call_me" checked>
                        <label class="form-check-label" for="order_call_me">Оператор свяжется с
                            вами
                            для подтверждения
                            заказа</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="order_notification">
                        <label class="form-check-label" for="order_notification">Присылать уведомления
                            на
                            email <input
                                    type="email" class="form-control  form-control-sm"
                                    id="order_email"
                                    placeholder="name@example.com"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1 pb-5 ">
        <div class="col text-center">
            <a class="btn btn-outline-secondary ml-auto mr-2" style="width: fit-content" role="button"
               href="{% url 'cart' %}">Назад</a>
            <spam class="btn btn-danger mx-auto" style="width: fit-content" role="button"
                  onclick="sendOrder('{% url 'success' %}')">ОФОРМИТЬ
            </spam>
        </div>
    </div>
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}
    <script src="{% static '/js/cart_confirm.js' %}"></script>
{% endblock custom_footer %}