{% extends 'base.html' %}
{% load static %}
{% block title %}Подтверждение заказа{% endblock title %}
{% block custom_head %}{% endblock %}

{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}

    <h2 class="mb-3 mt-5 text-center">Подтвердите данные</h2>
    <div class="overflow-auto">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Наименование</th>
                <th scope="col">Опции</th>
                <th scope="col">Цена</th>
                <th scope="col" class="text-nowrap">Кол-во</th>
                <th scope="col">Сумма</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="width: 100px; height: 100px;" class="bg-secondary text-center align-middle">фото</td>
                <td><b>2043 Масло защитное для наружных работ с антисептиком</b><br>
                    <span class="text-muted text-nowrap">Поставщик: Biofa</span><br>
                    <span class="text-muted text-nowrap">Артикул: 2043</span>
                </td>
                <td class="text-nowrap">Цвет: 8537 Махагон<br>
                    Объем: 0.125 л.
                </td>
                <td class="text-nowrap">1000 ₽</td>
                <td class="text-nowrap">2</td>
                <td class="text-nowrap">2000 ₽</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td style="width: 100px; height: 100px;" class="bg-secondary text-center align-middle">фото</td>
                <td><b>2043 Масло защитное для наружных работ с антисептиком</b><br>
                    <span class="text-muted text-nowrap">Поставщик: Biofa</span><br>
                    <span class="text-muted text-nowrap">Артикул: 2043</span>
                </td>
                <td class="text-nowrap">Цвет: 8537 Махагон<br>
                    Объем: 0.125 л.
                </td>
                <td class="text-nowrap">1000 ₽</td>
                <td class="text-nowrap">2</td>
                <td class="text-nowrap">2000 ₽</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td style="width: 100px; height: 100px;" class="bg-secondary text-center align-middle">фото</td>
                <td><b>2043 Масло защитное для наружных работ с антисептиком</b><br>
                    <span class="text-muted text-nowrap">Поставщик: Biofa</span><br>
                    <span class="text-muted text-nowrap">Артикул: 2043</span>
                </td>
                <td class="text-nowrap">Цвет: 8537 Махагон<br>
                    Объем: 0.125 л.
                </td>
                <td class="text-nowrap">1000 ₽</td>
                <td class="text-nowrap">2</td>
                <td class="text-nowrap">2000 ₽</td>
            </tr>
            </tbody>
        </table>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td class="text-right">Сумма: 6 000 ₽</td>
        </tr>
        </tbody>
    </table>


    <div class="input-group mb-5">
        <span class="input-group-text">Комментарий к заказу</span>
        <textarea readonly class="form-control" aria-label="With textarea"></textarea>
    </div>

    <!-- Доставка -->
    <div class="row justify-content-center">
    <div class="col-auto text-left">
        <div class="row row-cols-1">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">Мне нужна доставка:</div>
                    <div class="row g-0">
                        <div class="col-md-4 align-content-center">
                            <img src="{% static '/img/cdek.webp' %}" class="card-img-top">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body small text-muted">
                                <p class="card-text">Доставка до пункта выдачи или до подъезда.</p>
                                <p class="card-text">При заказе от 15 000 рублей:
                                    <br>доставка полностью бесплатно.</p>
                                <p class="card-text">При заказе до 15 000 рублей:
                                    <br>доставка до СДЕК - бесплатно;
                                    <br>оплата только СДЕКу за доставку.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">Россия, Казань, Индекс
                            <br>Улица, Подъезд, Этаж, Квартира (офис)"
                            <br>Фамилия Имя Отчество
                            <br>Телефон
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">Опалата:</div>
                        <div class="card-body">
                            <p class="card-text">Наличные при получении</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">Дополнительно:</div>
                        <div class="card-body">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Присылать уведомления на
                                    email <input
                                            type="email" class="form-control  form-control-sm"
                                            id="exampleFormControlInput1"
                                            placeholder="name@example.com"></label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Оператор свяжется с вами
                                    для подтверждения
                                    заказа</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-secondary my-5 mx-auto" style="width: fit-content" role="button" href="#">Назад</a>
            <a class="btn btn-danger my-5 mx-auto" style="width: fit-content" role="button" href="#">ОФОРМИТЬ</a>
        </div>
    </div>
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}{% endblock custom_footer %}
