{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Столярная мастерская Империал - г. Казань{% endblock title %}

{% block custom_head %}
    <style>
        .carousel-control-next, .carousel-control-prev {
            width: 8%;
        }

        @media (max-width: 1200px) {
            #slider-2 h5 {
                font-size: 1.1rem;
            }

            #slider-2 p {
                font-size: .8rem;
            }
        }

        @media (max-width: 992px) {
            #slider-2 h5 {
                font-size: .7rem;
            }

            #slider-2 p {
                font-size: .675rem;
            }

            .banner-3 p {
                display: none;
            }
        }

        @media (max-width: 576px) {
            #slider-2 h5 {
                font-size: 1rem;
            }

            #slider-2 p {
                display: block;
            }
        }

        .card-align-middle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @media (max-width: 375px) {
            .card-align-middle > p {
                display: none;
            }

        }

        .banner-3 {
            left: 65%;
            word-wrap: normal
        }

        @media (max-width: 500px) {
            .banner-3 h5 {
                font-size: .7rem
            }
        }

        @media (max-width: 325px) {
            .banner-3 {
                left: 55%;
                font-size: .5rem
            }
        }

    </style>
{% endblock %}

{% block content %}
    <!-- Слайды -->
    <div id="carouselExampleCaptions" class="carousel slide mb-4 px-0 mx-0" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in main_slides %}
                <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %}
                    class="active"{% endif %}></li>
            {% endfor %}

        </ol>
        <div class="carousel-inner">

            {% for slide in main_slides %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ slide.slide_img.url }}" class="d-block w-100" alt="{{ slide }}">
                    <div class="carousel-caption left-0 right-50 ml-5 pl-5 d-none d-md-block text-dark text-left">
                        {{ slide.slide_description|safe }}
                        <a role="button" class="btn btn-outline-secondary mt-5"
                           href="{{ slide.slide_link_url }}">{{ slide.slide_link_name }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
        </a>
    </div>
    <!-- / Слайды -->

    <!-- блок из трех картинок Строительство Реставрация Картины -->
    <div class="row" id="slider-2">
        {% for slide in slides_2 %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card mb-3 position-relative overflow-hidden">
                    <img class="card-img" src="{{ slide.slide_img.url }}" alt="{{ slide }}">
                    <div class="card-img-overlay left-50 px-0 text-center d-flex align-items-center">
                        <div class="card-body pl-0 py-0">
                            <div class="card-text">{{ slide.slide_description|safe }}</div>
                        </div>
                    </div>
                    <a href="{{ slide.slide_link_url }}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- / блок из трех картинок Строительство Реставрация Картины -->

    <!-- блок из Рекламного банера и Новых товаров -->
    <div class="row align-items-start text-center text-md-left">

        <div class="col-12 col-sm-4 col-md-3 mb-3">
            <a href="{{ banner_1.slide_link_url }}">
            <img src="{{ banner_1.slide_img.url }}" class="img-fluid" alt="{{ banner_1.slide_description }}">
            </a>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <div class="row-cols-1 mb-3">
                <h2>Новые <i class="font-weight-normal">товары</i> в шоуруме</h2>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 ">
                {% for random_item in last_items %}
                    {% url 'root-category-url' root_url=random_item.product_category.category_parent.category_parent.category_url as root_url %}
                    {% url 'vendor-category-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url as vendor_url %}
                    {% url 'category-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url category_url=random_item.product_category.category_url as category_url %}
                    {% url 'product-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url category_url=random_item.product_category.category_url product_url=random_item.product_url as product_url %}

                    <div class="col mb-3 {% if forloop.first or forloop.last %}d-none d-md-block{% endif %}">
                        <div class="card h-100">
                            <div class="row h-100 g-0">
                                <div class="col col-md-4">
                                    {% thumbnail random_item.product_img "150x150" padding=True format="WEBP" as img %}
                                        <a href="{{ product_url }}">
                                            <img src="{{ img.url }}" alt="{{ random_item.product_title }}">
                                        </a>
                                    {% endthumbnail %}
                                </div>
                                <div class="col col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ product_url }}"
                                               role="button" class="text-dark text-decoration-none">
                                                {{ random_item.product_title }}</a>
                                        </h5>
                                        <p class="card-text">
                                            <a href="{{ product_url }}"
                                               role="button" class="btn btn-primary btn-sm">
                                                Перейти
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ category_url }}" class=" text-decoration-none">
                                    <small class="text-nowrap text-muted">{{ random_item.product_category.category_title }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- / блок из Рекламного банера и Новых товаров -->

    <!-- блок с двумя картинками Доски и Доставка -->
    <div class="row align-items-start text-center text-md-left">
        {% for slide in slides_3 %}
            <div class="card col-12 col-lg-6 mb-3 border-0 position-relative">
                <img class="card-img" src="{{ slide.slide_img.url }}" alt="{{ slide }}">
                <div class="card-img-overlay mx-3 py-0 card-align-middle">
                    {{ slide.slide_description|safe }}
                </div>
                <a href="{{ slide.slide_link_url }}" class="stretched-link"></a>
            </div>
        {% endfor %}
    </div>
    <!-- / блок с двумя картинками Доски и Доставка -->

    <!-- блок из Рекламного банера и ТОП товаров -->
    <div class="row align-items-start text-center text-md-left">
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <h2 class="mb-3">Террасы, <i class="font-weight-normal">Перголы,</i> Веранды</h2>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    {% for banner in banner_2 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %} position-relative">
                            <img src="{{ banner.slide_img.url }}" class="img-fluid" alt="{{ banner }}">
                            <div class="text-center text-muted small mt-1">{{ banner.slide_description|safe }}</div>
                            <a class="stretched-link"
                               href="{{ banner.slide_link_url }}"></a>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-8">
            <div class="row-cols-1 mb-3">
                <h2>Популярные <i class="font-weight-normal">товары</i></h2>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 ">
                {% for random_item in random_items %}
                    {% url 'root-category-url' root_url=random_item.product_category.category_parent.category_parent.category_url as root_url %}
                    {% url 'vendor-category-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url as vendor_url %}
                    {% url 'category-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url category_url=random_item.product_category.category_url as category_url %}
                    {% url 'product-url' root_url=random_item.product_category.category_parent.category_parent.category_url vendor_url=random_item.product_category.category_parent.category_url category_url=random_item.product_category.category_url product_url=random_item.product_url as product_url %}

                    <div class="col mb-3 {% if forloop.first or forloop.last %}d-none d-md-block{% endif %}">
                        <div class="card h-100">
                            <div class="row h-100 g-0">
                                <div class="col col-md-4">
                                    {% thumbnail random_item.product_img "150x150" padding=True format="WEBP" as img %}
                                        <a href="{{ product_url }}">
                                            <img src="{{ img.url }}" alt="{{ random_item.product_title }}">
                                        </a>
                                    {% endthumbnail %}
                                </div>
                                <div class="col col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ product_url }}"
                                               role="button" class="text-dark text-decoration-none">
                                                {{ random_item.product_title }}</a>
                                        </h5>
                                        <p class="card-text">
                                            <a href="{{ product_url }}"
                                               role="button" class="btn btn-primary btn-sm">
                                                Перейти
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ category_url }}" class="text-decoration-none text-muted">
                                    <small class="text-nowrap">{{ random_item.product_category.category_title }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- / блок из Рекламного банера и ТОП товаров -->


    <!-- Банер Консервация -->
    <div class="row align-items-start text-center text-md-left">
        <div class="col-12 mb-3">
            <div class="card border-0 position-relative overflow-hidden">
                <img class="card-img" src="{{ banner_3.slide_img.url }}" alt="{{ banner_3 }}">
                <div class="card-img-overlay mx-3 py-0 card-align-middle banner-3"
                     style="">
                    {{ banner_3.slide_description|safe }}
                </div>
                <a href="{{ banner_3.slide_link_url }}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <!-- / Банер Консервация -->

    <!-- Бренды -->
    <div class="d-flex mb-3 overflow-auto align-items-center">
        {% for brand in brands %}
            <div class="card col-12 col-sm-6 col-md-4 col-lg-2 text-center border-0">
                <div class="card-body">
                    <img src="{{ brand.slide_img.url }}" alt="{{ brand }}" class="img-fluid">
                    <a href="{{ brand.slide_link_url }}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- / Бренды -->

    <div class="row mb-3">
        <h2>Масла <i class="font-weight-normal">Biofa</i> для дерева</h2>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 mb-3 g-4">
            {% for product in biofa_products %}
                {% url 'product-url' root_url=product.product_category.category_parent.category_parent.category_url vendor_url=product.product_category.category_parent.category_url category_url=product.product_category.category_url product_url=product.product_url as product_url %}

                <div class="col
                {% if forloop.counter == 5 %} d-none d-lg-flex {% endif %}
                {% if forloop.counter == 4 %} d-none d-md-flex {% endif %}
                {% if forloop.counter == 3 %} d-none d-sm-flex {% endif %}">
                    <div class="card h-100 small">
                        <img src="{{ product.product_img.url }}" class="card-img-top"
                             alt="{{ product.product_title }}">
                        <div class="card-body">
                            <p class="card-title">{{ product.product_title }}</p>
                            <p class="card-text text-muted small">Артикул: {{ product.product_vendor_code }}</p>
                        </div>
                        <a href="{{ product_url }}"
                           class="stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% for product in biofa_products %}
        {% if forloop.first %}
        {% url 'vendor-category-url' root_url=product.product_category.category_parent.category_parent.category_url vendor_url=product.product_category.category_parent.category_url as vendor_url %}
        <h3 class="text-center "><a href="{{ vendor_url }}" class="text-decoration-none text-muted">Посмотреть <i
                class="font-weight-normal">весь</i> каталог</a></h3>
        {% endif %}
            {% endfor %}

    </div>

{% endblock %}
