{% extends 'base.html' %}
{% block custom_head %}{% endblock %}

{# Содержимое страницы. Разное для всех приложений джанго   #}
{% block content %}
    <!-- Хлебные крошки -->
    <nav aria-label="breadcrumb" class=".text-truncate">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            {% block breadcrumb-category %}{% endblock breadcrumb-category %}
        </ol>
    </nav>
    <!-- / Хлебные крошки -->

    {% block content_product %}
    {% endblock content_product %}
{% endblock content %}
{# / Содержимое страницы #}

{% block custom_footer %}{% endblock custom_footer %}
