{% extends 'product/base_product.html' %}

{% block title %}Столярная мастерская Империал - г. Казань{% endblock title %}

{% block breadcrumb-category %}
    {% if biofa %}
        {% url 'biofa_paints' as biofa_paints %}
        {% if request.path == biofa_paints %}
            <li class="breadcrumb-item active">Biofa</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url 'biofa_paints' %}">Biofa</a></li>
            {% for cat in category %}
                <li class="breadcrumb-item active">{{ cat.category_title }}</li>
            {% endfor %}
        {% endif %}
    {% else %}
        {% url 'main_category' vendor.vendor_url as main_category %}
        {% if request.path == main_category %}
            <li class="breadcrumb-item active">{{ vendor.vendor_title }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ main_category }}">{{ vendor.vendor_title }}</a></li>
            {% for cat in category %}
                <li class="breadcrumb-item active">{{ cat.category_title }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock breadcrumb-category %}

{% block content_product %}
    {% url 'paints' as paints_url %}
    {% if request.path == paints_url %}
        <div class="row mb-3">
            <div class="col">
                    <a role="button" class="btn btn-outline-secondary m-1"
                       href="{% url 'biofa_paints' %}">Biofa</a>
                {% for v in vendor %}
                    <a role="button" class="btn btn-outline-secondary m-1"
                       href="{% url 'main_category' v.vendor_url %}">{{ v.vendor_title }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col">
            {% if category.count > 1 %}
                {% for cat in category %}
                    <a role="button" class="btn btn-outline-secondary m-1"
                       href="{{ cat.category_url }}/">{{ cat.category_title }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mb-5">

        {% for product in products %}
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-header text-muted small">
                        Артикул: {{ product.product_vendor_code }}</div>
                    {% if biofa %}
                        <img src="/biofa-kazan.ru/media/{{ product.product_img }}" class="card-img-top my-2"
                             alt="{{ product.product_title }}">
                    {% else %}
                        <img src="{{ product.product_img.url }}" class="card-img-top my-2"
                             alt="{{ product.product_title }}">
                    {% endif %}
                    <div class="card-body p-1">
                        <p class="card-title">{{ product.product_title }}</p>

                        <p class="font-monospace my-3">
                            {% if not product.product_price %}
                                {% if biofa %}
                                    от {{ product.productvolumepriceproduct_set.first.volumeprice_price }}.00
                                {% else %}
                                    от {{ product.productvolumeprice_set.first.volumeprice_price }}.00
                                {% endif %}
                            {% else %}
                                {{ product.product_price }}.00
                            {% endif %}
                            <i class="fas fa-ruble-sign"></i>
                        </p>
                        <p class="text-muted small border-danger" style="border-bottom: 1px dashed">
                            {{ product.product_category.category_title }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        {% if biofa %}
                            <a href="{% url 'biofa_product' product.product_category.category_url product.product_url %}"
                               class="btn btn-primary stretched-link">Посмотреть</a>
                        {% else %}
                            <a href="{% url 'product' product.product_vendor.vendor_url product.product_category.category_url product.product_url %}"
                               class="btn btn-primary stretched-link">Посмотреть</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content_product %}