{% extends 'product/base_product.html' %}

{% block title %}{{ product.product_title }} - купить в Казани{% endblock title %}

{% block breadcrumb-category %}
    {% if biofa %}
        <li class="breadcrumb-item"><a href="{% url 'biofa_paints' %}">Biofa</a></li>
    {% else %}
        <li class="breadcrumb-item"><a
                href="{% url 'main_category' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item"><a
            href="{% url 'biofa_category' product.product_category.category_url %}">{{ product.product_category.category_title }}</a>
    </li>
    <li class="breadcrumb-item active">{{ product.product_vendor_code }}</li>
{% endblock breadcrumb-category %}

{% block content_product %}

    <!-- Modal window for COLORS -->
    <div class="modal fade" id="colorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выбор цвета краски</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>{{ product.product_title }}</h5>
                    <div class="row mt-2 mb-5">
                        {% for color in colors %}
                            <div class="col-md-4"><img
                                    src="../../../../biofa-kazan.ru/media/{{ color.colorproduct.color_image }}"
                                    class="img-fluid"
                                    alt="цвет {{ color.colorproduct.color_title }}">
                                <span class="small">{{ color.colorproduct.color_title }}</span></div>
                        {% endfor %}
                    </div>
                    <p>Помните - мониторы искажают цвет!

                    <p class="small">Если вы не уверены в своем выборе, вы можете приехать в наш офис со своим
                        материалом и
                        подобрать нужный
                        вам цвет. Наши менеджеры с радостью проконсультируют вас в вопросах, касающихся дизайна и
                        цветовых
                        сочетаний.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Modal window for COLORS -->

    <div class="row row-cols-1 row-cols-md-2 mb-5">
        <div class="col">
            {% if biofa %}
                <img src="../../../../biofa-kazan.ru/media/{{ product.product_img }}" class="card-img-top  my-3"
                     alt="{{ product.product_title }}">
            {% else %}
                <img src="{{ product.product_img.url }}" class="card-img-top my-3"
                     alt="{{ product.product_title }}">
            {% endif %}
        </div>
        <div class="col pt-3">

            <h1 class="">{{ product.product_title }}</h1>

            {% if not product.product_price %}
                <p class="text-muted font-monospace" style="font-size: x-large">
                    от {{ volume_price.first.volumeprice_price }}.00
                    <i class="fas fa-ruble-sign"></i></p>
            {% else %}
                <p class="text-muted font-monospace" style="font-size: x-large">{{ product.product_price }}.00 <i
                        class="fas fa-ruble-sign"></i></p>
            {% endif %}

            <ul class="small list-unstyled text-muted my-3">
                <li>Поставщик: {% if biofa %}
                    <a href="{% url 'biofa_paints' %}">Biofa</a>
                {% else %}
                    <a href="{% url 'main_category' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
                {% endif %} </li>
                <li>Артикул: {{ product.product_vendor_code }}</li>
                <li>Наличие: {% if biofa %}
                    <span class="text-success font-weight-bold">В наличии более 10л.</span>
                {% else %}
                    <span class="font-weight-bold">{{ product.product_count }}</span>
                {% endif %}</li>
            </ul>

            {% if colors.all|length > 0 %}
                <button type="button" class="btn btn-outline-primary my-3" data-toggle="modal" data-target="#colorModal"
                        style="white-space: nowrap;">
                    Выбрать цвет<span class="ml-2 badge bg-primary">{{ colors.all|length }}</span>
                </button>
            {% endif %}

            <div class="row my-3">
                <div class="col-12 col-sm-10 col md-8 col-lg-6">
                    <h3>Объем</h3>
                    <div class="pr-5">
                        <table class="table table-sm table-hover small">
                            <thead>
                            <tr>
                                <th>Объем</th>
                                <th class="text-right">Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price in volume_price %}
                            <tr>
                                <td>{{ price.volumeprice_volume.volume_title }} </td>
                                <td class="text-right">{{ price.volumeprice_price }} </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row px-3">
                <button type="button" class="btn btn-primary btn-lg btn-block my-3">Добавить в корзину</button>
            </div>

        </div>
    </div>

    <!-- вкладки Описание Характиристики Отзывы -->
    <div class="row mb-5">
        <div class="col-12">
            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" aria-controls="description" aria-selected="true"
                       href="#description">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#attributes" role="tab"
                       aria-controls="attributes" aria-selected="false">Характеристики</a>
                </li>

                {% if product.product_description %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#photo" role="tab"
                           aria-controls="photo" aria-selected="false">ФОТО</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#reviews" role="tab"
                       aria-controls="reviews" aria-selected="false">Отзывы <span class="badge bg-primary">0</span></a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="description" role="tabpanel"
                     aria-labelledby="description-tab">
                    {{ product.product_content|safe }}
                </div>

                <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                    <table class="table table-sm table-hover small">
                        <tbody>
                        {% for attr in attributes %}
                            <tr>
                            <td class="">
                                {% if attr.attribute_title == None %}
                                    &nbsp;
                                {% else %}
                                    {{ attr.attribute_title }}</td>
                                {% endif %}
                            <td>
                                {% if attr.attribute_value == None %}
                                    &nbsp;
                                {% else %}
                                    {{ attr.attribute_value }}</td>
                                {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if product.product_file %}
                        <div class="my-3">
                            <i class="fas fa-2x fa-file mr-2"></i>
                            <a href="{{ product.product_file.url }}" target="_blank" rel="noopener noreferrer"
                               class="text-muted text-decoration-none">
                                Техническое руководство ({{ product.product_vendor_code }}.pdf)</a>
                        </div>
                    {% endif %}
                </div>

                {% if product.product_description %}
                    <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                        {{ product.product_description|safe }}
                    </div>
                {% endif %}

                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">Отзывов пока
                    нет.
                </div>
            </div>
        </div>
    </div>
    <!-- / вкладки Описание Характиристики Отзывы -->

{% endblock content_product %}
