{% extends 'product/base_product.html' %}
{% load static thumbnail %}

{% block custom_head %}
    <!-- FancyBox3 CSS -->
    {% if product.product_tab.count > 0 %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
    {% endif %}

    <script src="{% static 'js/scripts.js' %}"></script>
    <style>
        .color-target {
            cursor: pointer;
            border-radius: 5px;
            transition: .1s;
        }

        .color-target.active {
            border: #0d6efd 3px dashed;
        }

        .additional-images {
            cursor: pointer;
        }

        .additional-images.active {
            border-radius: 5px;
            border: #0d6efd 1px dashed;
        }

        #main-image {
            opacity: 1;
            transition: 1s;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block title %}{{ product.product_title }} - купить в Казани{% endblock title %}

{% block breadcrumb-category %}
    <li class="breadcrumb-item"><a
            href="{% url 'vendor-paints' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
    <li class="breadcrumb-item"><a
            href="{% url 'category' product.product_vendor.vendor_url product.product_category.category_url %}">{{ product.product_category.category_title }}</a>
    </li>
    <li class="breadcrumb-item active">{{ product.product_title }}</li>
{% endblock breadcrumb-category %}

{% block content_product %}

    <!-- Modal window for COLORS -->
    {% if colors.all|length > 0 %}
        <div class="modal fade" id="colorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выбор цвета краски</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>{{ product.product_title }}</h5>
                    <div class="row mt-2 mb-5">
                            {% for color in colors %}
                                <div class="col-md-4 my-1 py-1 color-target text-center" style="line-height: 1rem;">
                                    {% thumbnail color.color_image "280x280" padding=True format="WEBP" as im %}
                                    <img
                                        src="{{ im.url }}"
                                        class="img-fluid"
                                        alt="цвет {{ color.color_title }}">
                                    {% endthumbnail %}
                                    <br>
                                    <span class="small">{{ color.color_title }}</span></div>
                            {% endfor %}
                    </div>
                    <p>Помните - мониторы искажают цвет!

                    <p class="small">Если вы не уверены в своем выборе, вы можете приехать в наш офис со своим
                        материалом и
                        подобрать нужный
                        вам цвет. Наши менеджеры с радостью проконсультируют вас в вопросах, касающихся дизайна и
                        цветовых
                        сочетаний.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Выбрать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- / Modal window for COLORS -->

    <div class="row row-cols-1 row-cols-md-2 mb-5">

        <!-- Изображение товара -->
        {% if product.product_img %}
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% thumbnail product.product_img "650" padding=True format="WEBP" as img %}
                            <img src="{{ img.url }}" class="img-fluid my-3"
                                 alt="{{ product.product_img_title|default_if_none:product.product_title }}"
                                 id="main-image">
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-muted small my-1 text-center" id="image-title">
                        {{ product.product_img_title|default_if_none:"" }}
                    </div>
                </div>
                {% if images %}
                    <div class="row row-cols-4">

                        <div class="col p-1">
                            {% thumbnail product.product_img "650" padding=True format="WEBP" as img %}
                                <img src="{{ img.url }}" class="img-fluid my-3 additional-images active"
                                     alt="{{ product.product_img_title }}">
                            {% endthumbnail %}

                        </div>
                        {% for image in images %}
                            <div class="col p-1">
                                {% thumbnail image.img_file "650" padding=True format="WEBP" as img %}
                                    <img src="{{ img.url }}" class="img-fluid my-3 additional-images"
                                         alt="{{ image.img_title }}">
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="col pt-3">

            <h1 class="">{{ product.product_title }}</h1>

            <!-- Цена товара -->
            {# FIXME: if product.product_price_choice == False #}
            {% if volume_price.first %}
                <p class="text-muted font-monospace" style="font-size: x-large">
                    {% if not product.product_price %}
                        от {{ volume_price.first.volumeprice_price }}.00
                    {% else %}
                        {{ product.product_price }}.00
                    {% endif %}
                    &#x20bd;
                </p>
            {% endif %}

            <!-- Поставщик, артикул, наличие -->
            <ul class="small list-unstyled text-muted my-3">
                <li>Поставщик: <a
                        href="{% url 'vendor-paints' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
                </li>
                <li>Артикул: {{ product.product_vendor_code }}</li>
                <li>Наличие: <span class="text-success font-weight-bold">{{ product.product_count }}</span>
                </li>
            </ul>

            <!-- Короткое описание товара -->
            {% if product.product_extra_desc %}
                <div class="row py-2">
                    {{ product.product_extra_desc|safe }}
                </div>
            {% endif %}

            <!-- Выбор цвета -->
            {% if colors.all|length > 0 %}
                <button type="button" class="btn btn-outline-primary my-3" data-toggle="modal" data-target="#colorModal"
                        style="white-space: nowrap;">
                    Выбрать цвет<span class="ml-2 badge bg-primary">{{ colors.all|length }}</span>
                </button>
            {% endif %}

            <!-- Опции для цен -->
            <div class="row my-3 justify-content-center">
                <div class="col col-auto">
                    {% if product.product_price_choice == False and volume_price.first %}
                        <h3>{{ product.product_price_title }}</h3>
                        <div class="overflow-auto">
                            <table class="table table-sm table-hover small">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-nowrap px-3">{{ product.product_price_title_1|safe }}</th>
                                    <th class="text-center text-nowrap px-3">{{ product.product_price_title_2|safe }}</th>
                                    {% if product.product_price_title_3 %}
                                    <th class="text-left text-nowrap px-3">{{ product.product_price_title_3|default_if_none:""|safe }}</th>
                                    {% endif %}
                                    {% if product.product_price_title_4 %}
                                    <th class="text-left text-nowrap px-3">{{ product.product_price_title_4|default_if_none:""|safe }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in volume_price %}
                                    <tr onclick="document.getElementById('{{ price.id }}').checked=true;" style="cursor: pointer">
                                    	<td class="px-3">
                                    		<input type="radio" name="options"
                                    		id="{{ price.id }}"
                                    		{% if forloop.first %} checked {% endif %}
                                    		value="{{ price.volumeprice_volume.volume_title }} - {{ price.volumeprice_price }}&#x20bd; - {{price.volumeprice_expenditure}} - {{ price.volumeprice_expenditure_price }}">
                                    	</td>
                           				<td class="text-left text-nowrap px-3">{{ price.volumeprice_volume.volume_title }}</td>
                                        <td class="text-center text-nowrap px-3">{{ price.volumeprice_price }} &#x20bd;</td>
                                        {% if price.volumeprice_expenditure %}
                                        <td class="text-left text-nowrap px-3">{{ price.volumeprice_expenditure|default_if_none:"" }}</td>
                                        {% endif %}
                                        {% if price.volumeprice_expenditure_price %}
                                        <td class="text-left text-nowrap px-3">{{ price.volumeprice_expenditure_price|default_if_none:"" }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Количество товара -->
            <div class="row my-3 justify-content-center">
                <div class="col col-auto">
                    <div class="input-group align-items-center flex-nowrap">
                        Количество:
                        <button class="btn btn-outline-secondary ml-3" type="button" id="number-of-goods-minus">-
                        </button>
                        <input type="number" min="1" max="100" class="form-control flex-grow-0 text-center"
                               style="width: 65px"
                               id="number-of-goods-input" value="1" aria-label="Количетсво товара">
                        <button class="btn btn-outline-secondary" type="button" id="number-of-goods-plus">+</button>
                    </div>
                </div>
            </div>

            <div class="row px-3">
                <button type="button" class="btn btn-primary btn-lg btn-block my-3">Добавить в корзину</button>
            </div>

        </div>
    </div>

    <!-- вкладки Описание Характиристики Отзывы -->
    <div class="row mb-5">
        <div class="col-12">
            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">

                {% if product.product_content %}
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" aria-controls="description" aria-selected="true"
                           href="#description">Описание</a>
                    </li>
                {% endif %}

                {% if attributes %}
                    <li class="nav-item">
                        <a class="nav-link {% if not product.product_content %}active{% endif %}" data-toggle="tab"
                           href="#attributes" role="tab"
                           aria-controls="attributes" aria-selected="false">Характеристики
                            {% if product.product_file %}
                                <span class="badge bg-primary ml-2 position-absolute"><i class="fas fa-file"></i></span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}

                <!-- Дополнительные вкладки -->
                {% if product.product_tab.count > 0 %}
                    {% for tab in product.product_tab.all %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ tab.tab_slug }}" role="tab"
                               aria-controls="{{ tab.tab_slug }}" aria-selected="false">
                                {{ tab.tab_title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link 
                    {% if not product.product_content and not attributes %}active{% endif %}" data-toggle="tab"
                       href="#reviews" role="tab"
                       aria-controls="reviews" aria-selected="false">Отзывы <span
                            class="badge bg-primary ml-2 position-absolute">0</span></a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Описание -->
                {% if product.product_content %}
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                         aria-labelledby="description-tab">
                        {{ product.product_content|safe }}
                    </div>
                {% endif %}

                <!-- Характеристики -->
                <div class="tab-pane fade {% if not product.product_content %}show active{% endif %}" id="attributes"
                     role="tabpanel" aria-labelledby="attributes-tab">
                    <table class="table table-sm table-hover small">
                        <tbody>
                        {% for attr in attributes %}
                            <tr{% if attr.attribute_distinguish_bold %} class="font-weight-bold"{% endif %}
                                    {% if attr.attribute_distinguish_yellow %}
                                                                        style="background-color: yellow" {% endif %}>
                            <td {% if attr.attribute_distinguish_colspan %}colspan="2"{% endif %}>
                                {% if attr.attribute_distinguish_empty %}&nbsp;{% endif %}
                                {{ attr.attribute_title|default_if_none:""|safe }}</td>
                            {% if not attr.attribute_distinguish_colspan %}
                                <td>
                                    {{ attr.attribute_value|default_if_none:""|safe }}</td>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if product.product_file %}
                        <div class="my-3">
                            <i class="fas fa-2x fa-file mr-2"></i>
                            <a href="{{ product.product_file.url }}" target="_blank" rel="noopener noreferrer"
                               class="text-muted text-decoration-none">
                                Техническое руководство ({{ product.product_vendor_code }}.pdf)</a>
                        </div>
                    {% endif %}
                </div>

                <!-- Доп. вкладки -->
                {% if biofa %}
                    {% if product.product_description %}
                        <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                            {{ product.product_description|safe }}
                        </div>
                    {% endif %}
                {% else %}
                    {% if product.product_tab.count > 0 %}
                        {% for tab in product.product_tab.all %}
                            <div class="tab-pane fade" id="{{ tab.tab_slug }}" role="tabpanel"
                                 aria-labelledby="{{ tab.tab_slug }}-tab">
                                {{ tab.tab_content|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <!-- Отзывы -->
                <div class="tab-pane fade 
                {% if not product.product_content and not attributes %}show active{% endif %}" id="reviews"
                     role="tabpanel" aria-labelledby="reviews-tab">
                    Отзывов пока
                    нет.
                </div>

            </div>
        </div>
    </div>
    <!-- / вкладки Описание Характиристики Отзывы -->
    <div class="row mb-3">
        <h2>Похожие <i class="font-weight-normal">товары от</i> {{ product.product_vendor.vendor_title }}</h2>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 mb-3 g-4">
            {% for item in random_items %}
                <div class="col
                {% if forloop.counter == 5 %} d-none d-lg-flex {% endif %}
                {% if forloop.counter == 4 %} d-none d-md-flex {% endif %}
                {% if forloop.counter == 3 %} d-none d-sm-flex {% endif %}">
                    <div class="card h-100 text-center">
                        <div class="card-header text-muted small">
                            Артикул: {{ item.product_vendor_code }}
                        </div>

                        <!-- Изображение товара -->
                        <div class="row">
                            <div class="col">
                                {% if item.product_img %}
                                    {% thumbnail item.product_img "300x300" padding=True format="WEBP" as im %}
                                        <a href="{% url 'product' product.product_vendor.vendor_url product.product_category.category_url product.product_url %}">
                                            <img src="{{ im.url }}" class="img-fluid my-2"
                                                 alt="{{ item.product_title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% else %}
                                    <a href="{% url 'product' item.product_vendor.vendor_url item.product_category.category_url item.product_url %}">
                                        <div class="img-fluid my-2 no-photo" style="padding: 50% 0"></div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-body p-1">
                            <!-- Название товара -->
                            <a href="{% url 'product' item.product_vendor.vendor_url item.product_category.category_url item.product_url %}"
                               class="card-title text-dark text-decoration-none">{{ item.product_title }}</a>

                            <!-- Цена товара -->
                            {% if item.productvolumeprice_set.first or item.productvolumepriceproduct_set.first %}
                                <p class="font-monospace mt-3 mb-1">
                                    {% if not item.product_price %}
                                        от {{ item.productvolumeprice_set.first.volumeprice_price }}.00
                                    {% else %}
                                        {{ item.product_price }}.00
                                    {% endif %}
                                    &#x20bd;
                                </p>
                            {% endif %}
                        </div>

                        <!-- Ссылка на категорию -->
                            <div class="row mb-1">
                                <div class="col">
                                    <a href="{{ item.product_category.category_url }}/"
                                       class="text-muted small text-decoration-none">
                                        {{ item.product_category.category_title }}
                                    </a>
                                </div>
                            </div>

                        <div class="card-footer bg-transparent">
                            <a href="{% url 'product' item.product_vendor.vendor_url item.product_category.category_url item.product_url %}"
                               class="btn btn-primary">Посмотреть</a>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        {% url 'paints' as paints %}
        <h3 class="text-center "><a href="{{ paints }}" class="text-decoration-none text-muted">Посмотреть <i
                class="font-weight-normal">весь</i> каталог</a></h3>

    </div>

{% endblock content_product %}

{% block custom_footer %}
    <!-- скрипт отвечает за выделение Цвета в модальном окне -->
    <script>
        (function () {
            var color_blocks = document.querySelectorAll(".color-target");

            for (var i = 0; i < color_blocks.length; i++) {
                color_blocks[i].addEventListener("click", function () {
                    for (var j = 0; j < color_blocks.length; j++) {
                        color_blocks[j].classList.remove("active");
                    }
                    this.classList.add("active");
                }, false);
            }
        })();
    </script>

    <!-- скрипт отвечает за смену изображений товара -->
    {% if images %}
        <script>
            var main_image = document.getElementById('main-image');
            var image_title = document.getElementById('image-title');
            var additional_images = document.querySelectorAll('.additional-images');
            for (var i = 0; i < additional_images.length; i++) {
                additional_images[i].addEventListener('click', function () {
                    main_image.src = this.src;
                    for (var j = 0; j < additional_images.length; j++) {
                        additional_images[j].classList.remove("active")
                    }
                    this.classList.add("active");
                    image_title.textContent = this.alt;
                });
            }
            {#additional-images#}

        </script>
    {% endif %}

    <!-- FancyBox3 JS -->
    {% if product.product_tab.count > 0 %}
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    {% endif %}

{% endblock custom_footer %}
