{% extends 'product/base_product.html' %}

{% block custom_head %}
    <style>
        .color-target {
            cursor: pointer;
            border-radius: 5px;
            transition: .1s;
        }

        .color-target.active {
            border: #0d6efd 3px dashed;
        }

        .additional-images {
            cursor: pointer;
        }

        .additional-images.active {
            border-radius: 5px;
            border: #0d6efd 1px dashed;
        }

        #main-image {
            opacity: 1;
            transition: 1s;
        }
    </style>
{% endblock %}

{% block title %}{{ product.product_title }} - купить в Казани{% endblock title %}

{% block breadcrumb-category %}
    {% if biofa %}
        <li class="breadcrumb-item"><a href="{% url 'biofa_paints' %}">Biofa</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'biofa_category' product.product_category.category_url %}">{{ product.product_category.category_title }}</a>
        </li>
    {% else %}
        <li class="breadcrumb-item"><a
                href="{% url 'main_category' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
        <li class="breadcrumb-item"><a
                href="{% url 'category' product.product_vendor.vendor_url product.product_category.category_url %}">{{ product.product_category.category_title }}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item active">{{ product.product_title }}</li>
{% endblock breadcrumb-category %}

{% block content_product %}

    <!-- Modal window for COLORS -->
    <div class="modal fade" id="colorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выбор цвета краски</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>{{ product.product_title }}</h5>
                    <div class="row mt-2 mb-5">
                        {% if biofa %}
                            {% for color in colors %}
                                <div class="col-md-4 my-1 py-1 color-target" style="line-height: 1rem;"><img
                                        src="../../../../biofa-kazan.ru/media/{{ color.colorproduct.color_image }}"
                                        class="img-fluid"
                                        alt="цвет {{ color.colorproduct.color_title }}"><br>
                                    <span class="small">{{ color.colorproduct.color_title }}</span></div>
                            {% endfor %}
                        {% else %}
                            {% for color in colors %}
                                <div class="col-md-4 my-1 py-1 color-target text-center" style="line-height: 1rem;">
                                        <img
                                        src="{{ color.color_image.url }}"
                                        class="img-fluid"
                                        alt="цвет {{ color.color_title }}"><br>
                                    <span class="small">{{ color.color_title }}</span></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p>Помните - мониторы искажают цвет!

                    <p class="small">Если вы не уверены в своем выборе, вы можете приехать в наш офис со своим
                        материалом и
                        подобрать нужный
                        вам цвет. Наши менеджеры с радостью проконсультируют вас в вопросах, касающихся дизайна и
                        цветовых
                        сочетаний.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Выбрать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Modal window for COLORS -->

    <div class="row row-cols-1 row-cols-md-2 mb-5">
        <div class="col">
            {% if biofa %}
                <img src="../../../../biofa-kazan.ru/media/{{ product.product_img }}" class="card-img-top  my-3"
                     alt="{{ product.product_title }}">
            {% else %}
                <div class="row">
                    <div class="col">
                        <img src="{{ product.product_img.url }}" class="img-fluid my-3"
                             alt="{{ product.product_img_title }}" id="main-image">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-muted small my-1 text-center" id="image-title">
                        {{ product.product_img_title|default_if_none:"" }}
                    </div>
                </div>
                {% if images %}
                    <div class="row row-cols-4">
                        <div class="col p-1">
                            <img src="{{ product.product_img.url }}" class="img-fluid my-3 additional-images active"
                                 alt="{{ product.product_img_title }}">

                        </div>
                        {% for image in images %}
                            <div class="col p-1">
                                <img src="{{ image.img_file.url }}" class="img-fluid my-3 additional-images"
                                     alt="{{ image.img_title }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col pt-3">

            <h1 class="">{{ product.product_title }}</h1>

            {% if not product.product_price and product.product_price_choice == False %}
                <p class="text-muted font-monospace" style="font-size: x-large">
                    от {{ volume_price.first.volumeprice_price }}.00
                    <i class="fas fa-ruble-sign"></i></p>
            {% else %}
                <p class="text-muted font-monospace" style="font-size: x-large">{{ product.product_price }}.00 <i
                        class="fas fa-ruble-sign"></i></p>
            {% endif %}

            <ul class="small list-unstyled text-muted my-3">
                <li>Поставщик: {% if biofa %}
                    <a href="{% url 'biofa_paints' %}">Biofa</a>
                {% else %}
                    <a href="{% url 'main_category' product.product_vendor.vendor_url %}">{{ product.product_vendor.vendor_title }}</a>
                {% endif %} </li>
                <li>Артикул: {{ product.product_vendor_code }}</li>
                <li>Наличие: {% if biofa %}
                    <span class="text-success font-weight-bold">В наличии более 10л.</span>
                {% else %}
                    <span class="text-success font-weight-bold">{{ product.product_count }}</span>
                {% endif %}</li>
            </ul>

            {% if colors.all|length > 0 %}
                <button type="button" class="btn btn-outline-primary my-3" data-toggle="modal" data-target="#colorModal"
                        style="white-space: nowrap;">
                    Выбрать цвет<span class="ml-2 badge bg-primary">{{ colors.all|length }}</span>
                </button>
            {% endif %}

            {% if product.product_extra_desc %}
                <div class="row py-2">
                    {{ product.product_extra_desc|safe }}
                </div>
            {% endif %}

            <!-- Опции для цен -->
            <div class="row my-3 justify-content-center">
                <div class="col-12 col-sm-10 col md-8 col-lg-6">
                    {% if biofa %}
                        <h3>Объем</h3>
                        <div class="pr-5">
                            <table class="table table-sm table-hover small">
                                <thead>
                                <tr>
                                    <th>Объем</th>
                                    <th class="text-right">Цена</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in volume_price %}
                                    <tr>
                                        <td>{{ price.volumeprice_volume.volume_title }} </td>
                                        <td class="text-right">{{ price.volumeprice_price }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elif product.product_price_choice == False %}
                        <h3>{{ product.product_price_title }}</h3>
                        <div class="pr-5">
                            <table class="table table-sm table-hover small">
                                <thead>
                                <tr>
                                    <th class="text-nowrap">{{ product.product_price_title_1|safe }}</th>
                                    <th class="text-right text-nowrap">{{ product.product_price_title_2|safe }}</th>

                                    <th class="text-center text-nowrap">{{ product.product_price_title_3|default_if_none:""|safe }}</th>
                                    <th class="text-center text-nowrap">{{ product.product_price_title_4|default_if_none:""|safe }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in volume_price %}
                                    <tr>
                                        <td>{{ price.volumeprice_volume.volume_title }}</td>
                                        <td class="text-right text-nowrap">{{ price.volumeprice_price }}</td>
                                        <td class="text-center text-nowrap">{{ price.volumeprice_expenditure|default_if_none:"" }}</td>
                                        <td class="text-center text-nowrap">{{ price.volumeprice_expenditure_price|default_if_none:"" }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row px-3">
                <button type="button" class="btn btn-primary btn-lg btn-block my-3">Добавить в корзину</button>
            </div>

        </div>
    </div>

    <!-- вкладки Описание Характиристики Отзывы -->
    <div class="row mb-5">
        <div class="col-12">
            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" aria-controls="description" aria-selected="true"
                       href="#description">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#attributes" role="tab"
                       aria-controls="attributes" aria-selected="false">Характеристики</a>
                </li>

                {% if biofa %}
                    {% if product.product_description %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#photo" role="tab"
                               aria-controls="photo" aria-selected="false">
                                ФОТО
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    {% if product.product_tab.count > 0 %}
                        {% for tab in product.product_tab.all %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#{{ tab.tab_slug }}" role="tab"
                                   aria-controls="{{ tab.tab_slug }}" aria-selected="false">
                                    {{ tab.tab_title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#reviews" role="tab"
                       aria-controls="reviews" aria-selected="false">Отзывы <span
                            class="badge bg-primary ml-2 position-absolute">0</span></a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Описание -->
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                     aria-labelledby="description-tab">
                    {{ product.product_content|safe }}
                </div>

                <!-- Характеристики -->
                <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                    <table class="table table-sm table-hover small">
                        <tbody>
                        {% for attr in attributes %}
                            <tr>
                            <td class="">
                                {{ attr.attribute_title|default_if_none:""|safe }}</td>
                            <td>
                                {{ attr.attribute_value|default_if_none:""|safe }}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if product.product_file %}
                        <div class="my-3">
                            <i class="fas fa-2x fa-file mr-2"></i>
                            <a href="{{ product.product_file.url }}" target="_blank" rel="noopener noreferrer"
                               class="text-muted text-decoration-none">
                                Техническое руководство ({{ product.product_vendor_code }}.pdf)</a>
                        </div>
                    {% endif %}
                </div>

                <!-- Доп. вкладки -->
                {% if biofa %}
                    {% if product.product_description %}
                        <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                            {{ product.product_description|safe }}
                        </div>
                    {% endif %}
                {% else %}
                    {% if product.product_tab.count > 0 %}
                        {% for tab in product.product_tab.all %}
                            <div class="tab-pane fade" id="{{ tab.tab_slug }}" role="tabpanel"
                                 aria-labelledby="{{ tab.tab_slug }}-tab">
                                {{ tab.tab_content|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <!-- Отзывы -->
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    Отзывов пока
                    нет.
                </div>
            </div>
        </div>
    </div>
    <!-- / вкладки Описание Характиристики Отзывы -->

{% endblock content_product %}

{% block custom_footer %}
    <!-- скрипт отвечает за выделение Цвета в модальном окне -->
    <script>
        (function () {
            var color_blocks = document.querySelectorAll(".color-target");

            for (var i = 0; i < color_blocks.length; i++) {
                color_blocks[i].addEventListener("click", function () {
                    for (var j = 0; j < color_blocks.length; j++) {
                        color_blocks[j].classList.remove("active");
                    }
                    this.classList.add("active");
                }, false);
            }
        })();
    </script>

    <!-- скрипт отвечает за смену изображений товара -->
    {% if images %}
        <script>
            var main_image = document.getElementById('main-image');
            var image_title = document.getElementById('image-title');
            var additional_images = document.querySelectorAll('.additional-images');
            for (var i = 0; i < additional_images.length; i++) {
                additional_images[i].addEventListener('click', function () {
                    main_image.src = this.src;
                    for (var j = 0; j < additional_images.length; j++) {
                        additional_images[j].classList.remove("active")
                    }
                    this.classList.add("active");
                    image_title.textContent = this.alt;
                });
            }
            {#additional-images#}

        </script>
    {% endif %}
{% endblock custom_footer %}
