{# templatetag #}

{% if vendor == 'biofa' %}
    <div class="col-6 col-md-4 col-lg-3 mb-3">
        <div class="list-group list-group-flush small">
            <a href="{% url 'biofa_paints' %}"
               class="list-group-item list-group-item-action bg-danger text-white bg-gradient">
                Краски и масла <b>BIOFA</b>
            </a>
            {% for category in categories_biofa %}
                <a href="{% url 'biofa_category' category.category_url %}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{ category.category_title }}
                    <span class="badge bg-primary rounded-pill">{{ category.productproduct_set.count }}</span></a>
            {% endfor %}
        </div>
    </div>
{% else %}
    {% for category in categories %}
        {% if category.category_main_menu %}
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="list-group list-group-flush small">
                    <a href="{% url 'vendor-paints' category.category_url %}" class="list-group-item list-group-item-action
                            {% if category.category_url == 'consumables' %} bg-secondary text-white{% else %} bg-danger text-white{% endif %} bg-gradient">
                        {{ category.category_title|safe }}
                    </a>
                    {% for cat in categories %}
                        {% if cat.category_parent == category %}
                            <a href="{% url 'category' category.category_url cat.category_url %}"
                               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{ cat.category_title }}
                                <span class="badge bg-primary rounded-pill">{{ cat.product_set.count }}</span></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}